<br>
<div id="title1">
  <h5>UDies</h5>
</div>

<div id="title2">

  <h6>Universitaria Digital de los Estudiantes</h6>
  <h7>Giramos en torno a tí</h7>
  <h8>Aprobada Resolución 34876 de 2023 MEN</h8>

</div>

<br>
<br>







<br>
<br>
<br>



<div id="title4">

  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: yellow" >
  
  
    <div class="container-fluid">
    
    
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">

        <br>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        
          <br>
            
              <div class="dropdown">
                <button class="dropbtn">Tu nos haces únicos</button>

                <br>
                <div class="dropdown-content">
                
                  <%= link_to 'Lo que eres y lo que somos para tí', about_path, class: "nav-link" %>
                  <%= link_to 'Tu futuro es nuestro futuro', about_path, class: "nav-link" %>
                  <%= link_to 'Tu modelo educativo de vida', about_path, class: "nav-link" %>
                  <%= link_to 'Tu forma de aprender en línea', about_path, class: "nav-link" %>
                  <%= link_to 'El reconocimiento a tus logros', about_path, class: "nav-link" %>
                  <%= link_to 'Experiencias de Autoaprendizaje 360', about_path, class: "nav-link" %>
                  <%= link_to 'Normatividad para girar en torno a ti', about_path, class: "nav-link" %>
                </div>
              </div>
            
            
          

          
              <div class="dropdown">
                <button class="dropbtn">Carreras profesionales</button>
                <div class="dropdown-content1">
                  <%= link_to 'Marketing y E-Commerce', about_path, class: "nav-link" %>
                  <%= link_to 'Administración de Recursos Humanos y Relaciones Laborales', about_path, class: "nav-link" %>
                  <%= link_to 'Administración de Empresas y de Servicios', about_path, class: "nav-link" %>
            
                </div>
              </div>
          

          
              <div class="dropdown">
                <button class="dropbtn">Tu bienestar y calidad de vida</button>
                <div class="dropdown-content2">
                  <%= link_to 'Tu proyecto de vida', about_path, class: "nav-link" %>
                  <%= link_to 'Tu éxito estudiantil', about_path, class: "nav-link" %>
                  <%= link_to 'Tu salud integral', about_path, class: "nav-link" %>
                  <%= link_to 'Tu cultura y hobbies', about_path, class: "nav-link" %>
                  <%= link_to 'Tu éxito ocupacional', about_path, class: "nav-link" %>
      
                </div>
              </div>
          

          
              <div class="dropdown">
                <button class="dropbtn">Investigación para la proyección social y la internacionalización</button>
                <div class="dropdown-content3">
                  <%= link_to 'Líneas de investigación', about_path, class: "nav-link" %>
                  <%= link_to 'Banco de proyectos', about_path, class: "nav-link" %>
                  <%= link_to 'Relación Gobierno, empresa y comunidades', about_path, class: "nav-link" %>
                  <%= link_to 'Movilidad', about_path, class: "nav-link" %>
                  <%= link_to 'Emprendimiento', about_path, class: "nav-link" %>

                </div>
              </div>
          
          


              

        

        

        

        </ul>
      
      </div>
    </div>
  </nav>
</div>



<div class ="titulo" style="height: 680px; padding-top:50px; text-align: center; background-color: gray">

<br>
<br>


<h1></h1>
<div/>
<br>







<br>
<br>







<section class="menu2">
      <div class="container">
        <nav>
      
      <ul>
        <h1 class="title2">
          CONTÁCTANOS
        </h1>
         
          
          
        <li><a href="mailto:cristianca84@gmail.com"> <%= image_tag "mail-128.gif", :style => "height: 40px" %><br>Email</a></li>
        <li><a href="tel: +57 3105540748"> <%= image_tag "phone-42-128.gif", :style => "height: 40px" %><br>Phone</a></li>
        <li><a href="http://linkedin.com/in/cristian-camilo-cuevas-castañeda-b6a2a9193" target="_blank"> <%= image_tag "linkedin-5-128.gif", :style => "height: 40px" %><br>Linkedin</a></li>
          
          
      </ul>
  </nav>

      </div>
      
    </section>

